.title {
  text-align: center;
  margin: 50px auto;
}

.subscription {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription button {
  margin: 10px;
}

body {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 50%,
    rgba(237, 237, 237, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 50%,
    rgba(237, 237, 237, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 50%,
    rgba(237, 237, 237, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.home-Container {
  flex-grow: 1px;
}

.card-Container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex-grow: initial;
  flex-wrap: wrap;
  margin: 5px 5px;
}
