.Search-Title {
    text-align: center;
    font-size: 1rem;
    font-style: inherit;
}

.Search-Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.Search-Container input {
    max-width: 10vh;
}

select {
    max-width: 50vh;
    width: 25vh;
    height: 5vh;
    text-decoration: none;
    border: none;
    background-color: whitesmoke;
    font-size: 20px;
    border: 1px solid;
}

select option {
    max-width: 50vh;
}

.search-submit {
    margin-left: 40%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}

button:hover {
    opacity: 70%;
}